### Task18

In [84]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats

In [85]:
data =pd.read_csv('possum.csv')
data.head()

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0

In [86]:
numeric = data.select_dtypes(include=['float64', 'int64'])
print("Numeric columns:\n", numeric.columns.tolist())

Numeric columns:
 ['case', 'site', 'age', 'hdlngth', 'skullw', 'totlngth', 'taill', 'footlgth', 'earconch', 'eye', 'chest', 'belly']

In [87]:
# Mean, median, mode
means = numeric.mean()
medians = numeric.median()
modes = numeric.mode().iloc[0]  # first mode row

print("Mean:\n", means)
print("\nMedian:\n", medians)
print("\nMode:\n", modes)

Mean:
 case        52.500000
site         3.625000
age          3.833333
hdlngth     92.602885
skullw      56.883654
totlngth    87.088462
taill       37.009615
footlgth    68.459223
earconch    48.130769
eye         15.046154
chest       27.000000
belly       32.586538
dtype: float64

Median:
 case        52.50
site         3.00
age          3.00
hdlngth     92.80
skullw      56.35
totlngth    88.00
taill       37.00
footlgth    68.00
earconch    46.80
eye         14.90
chest       27.00
belly       32.50
dtype: float64

Mode:
 case         1.0
site         1.0
age          3.0
hdlngth     93.3
skullw      57.6
totlngth    89.0
taill       38.0
footlgth    73.2
earconch    44.9
eye         14.4
chest       28.0
belly       32.0
Name: 0, dtype: float64

In [88]:
# Range
range_vals = numeric.max() - numeric.min()

# Variance and Standard Deviation
variance = numeric.var()
std_dev = numeric.std()

# Interquartile Range 
Q1 = numeric.quantile(0.25)
Q3 = numeric.quantile(0.75)
IQR = Q3 - Q1

print("Range:\n", range_vals)
print("\nVariance:\n", variance)
print("\nStandard Deviation:\n", std_dev)
print("\nIQR:\n", IQR)

Range:
 case        103.0
site          6.0
age           8.0
hdlngth      20.6
skullw       18.6
totlngth     21.5
taill        11.0
footlgth     17.6
earconch     15.9
eye           5.0
chest        10.0
belly        15.0
dtype: float64

Variance:
 case        910.000000
site          5.518204
age           3.645215
hdlngth      12.768827
skullw        9.693420
totlngth     18.580836
taill         3.839712
footlgth     19.318713
earconch     16.887005
eye           1.103286
chest         4.184466
belly         7.628361
dtype: float64

Standard Deviation:
 case        30.166206
site         2.349086
age          1.909244
hdlngth      3.573349
skullw       3.113426
totlngth     4.310549
taill        1.959518
footlgth     4.395306
earconch     4.109380
eye          1.050374
chest        2.045597
belly        2.761949
dtype: float64

IQR:
 case        51.500
site         5.000
age          2.750
hdlngth      4.050
skullw       3.125
totlngth     6.000
taill        2.125
footlgth     7.900
earconch     7.200
eye          1.325
chest        2.500
belly        3.125
dtype: float64

In [89]:
outliers = {}
for col in numeric.columns:
    Q1 = numeric[col].quantile(0.25)
    Q3 = numeric[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5*IQR
    upper = Q3 + 1.5*IQR
    outlier_rows = numeric[(numeric[col] < lower) | (numeric[col] > upper)]
   
    if outlier_rows.empty:
        outliers[col] = "No outliers detected"
    else:
        outliers[col] = outlier_rows[col].tolist()

print("\nOutliers detected:\n")
for col, vals in outliers.items():
    print(f"{col} : {vals}")

Outliers detected:

case : No outliers detected
site : No outliers detected
age : No outliers detected
hdlngth : [103.1, 102.5, 82.5]
skullw : [67.7, 63.2, 63.0, 63.2, 64.2, 62.8, 50.0, 68.6]
totlngth : No outliers detected
taill : [32.0, 32.0, 43.0, 41.5]
footlgth : No outliers detected
earconch : No outliers detected
eye : [17.8]
chest : [32.0]
belly : [40.0, 25.0, 39.0]